html {
  background: rgb(255,255,255);
  font-family: Roboto, sans-serif;
}

img {
  max-width:100%; //should not exceed container siz
  height:auto; //maintains aspect ratio
}


/*ALL THE DIVS*/
.nav{

}

.nav1 {

}

.nav2 {

}

.nav3 {

}

.nav4 {

}

.header {

}

.body {

}

.mainsearch {
  border-radius:10px;
}

.extrasearch {

}

.special {

}

.footer {

}

.footer1 {

}

.footer2 {

}

.footer3 {

}

.footer4 {

}

.footer5 {

}



/*
~~~~~~~~~~~~~~~~~~~~~~ Attempting to use only grid for layout ~~~~~~~~~~~~~~~~~~~~~~~
.container {
  display:grid;
  grid-template-columns:repeat(3, auto);
  grid-template-rows:repeat(6,1fr);
  background: yellow;
  text-align: center;
  grid-gap:5px;
}

.nav1 {
  border: 1px solid blue;
  //order:1:
  grid-area: 1/1/2/2;
  //display: flex;
  //flex-flow: column;
  //border-radius: 1 rem;
}

.header {
  border: 2px dotted red;
  //order:3;
  background:lightskyblue;
  grid-area:2/2/4/3;
}

.mainsearch {
  background:paleturquoise;
  border: 2px dotted red;
  //order:4;
  grid-area:3/2/4/3;
}

.extrasearch {
  background:purple;
  border: 2px dotted red;
  //order:5;
  grid-area:4/2/5/3;
}

.special {
  background: pink;
  border: 2px dotted red;
  //order:6;
  grid-area:5/2/6/3;
}

.nav2 {
  border: 1px solid green;
  //order:2;
  grid-area:1/3/2/4;
}

.footer1 {
  //display: flex;
  //flex-flow: column;
  order:7;
  border: 1px dotted red;
  grid-area:6/1/7/2;
}

.footer2 {
  order:8;
  border: 1px dotted blue;
  grid-area: 6/3/7/4;
}
*/
